<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site can be used to know realtime weather at a place. It uses data from mapbox.com and darksky.net</p>
        <ul>
            <li>Weather Application enables you to know what the weather is going to be like in a particular location. This allows you to prepare your activities according to the weather.</li>
            <li>Helps to track humidity, temperature, % chance of rain at a target location. Weather report at any location can be retrieved with a single click using Dark Sky API and Mapbox API.</li>
            <li>It can be used by anyone who is looking to find out about the weather.</li>
        </ul>        
        <img class="potrait" src="/img/maxresdefault.jpg" alt="image" />
    </div>
    {{>footer}}
</body>

</html>
