<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site can be used to know realtime weaather at a place. It uses data from mapbox.com and darksky.net</p>
        <img class="potrait" src="/img/maxresdefault.jpg" alt="image" />
    </div>
    {{>footer}}
</body>

</html>
